:root {
  --clr-neutral-900: hsl(0 0% 9%);
  --clr-neutral-400: hsl(210 1% 64%);
  --clr-neutral-100: hsl(210 20% 94%);

  --clr-primary: hsl(12 74% 50%);
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 600px;
  margin: auto;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
  gap: 1rem;
}

.left-options,
.right-options,
.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-options,
.right-options {
  gap: 2rem;
  width: 100px;
}

.option-container {
  gap: 0.5rem;
}

#etch-grid {
  display: grid;
  /* margin: 1rem auto; */
  height: 600px;
  width: 600px;
  box-shadow: 0px 0px 10px 2px hsla(0 0% 0% / 0.24);
}

.mode-options {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 0px 4px 2px hsla(0 0% 0% / 0.24);
  position: relative;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 2rem;
  width: 10rem;
}

button.small {
  width: 7rem;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 2rem;
  z-index: -1;
  box-shadow: inset 0px 0px 0px 5px var(--clr-primary);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

button:hover::before {
  opacity: 0.8;
}

button.active::before {
  opacity: 0.8;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  width: 3rem;
  accent-color: var(--clr-primary);
}

input[type='color'] {
  padding: 0.125rem;
  border: none;
  height: 2rem;
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

.form-curtain {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: hsla(0 0% 0% / 0.4);
}

.form-container {
  width: 300px;
  height: 150px;
  padding: 1rem;
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 10px 5px hsla(0 0% 0% / 0.24);
}

.apply-size-btn::before,
.cancel-size-btn::before {
  z-index: 1;
}
